@import url('https://fonts.googleapis.com/css?family=Inter');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
}

.offline-header {
  background-color: #F44336;
}

.offline-loading-header {
  background-color: #6534FF;
}

.offline-text {
  margin: 20px 24px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
}

.finder.offline {
  color: #FFFFFF;
}

.nav-bar {
  border-bottom: 1px solid #e9e9eb;
}


.find-area {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px 12px;
  gap: 10px;
  margin-left: 16px;
  margin-top: 18px;
  height: 40px;
  background: #F7F7F8;
  border-radius: 16px;
}

.main-input {
  width: 200%;
  outline: none;
  border: none;
  background-color: #f7f7f8;
  font-size: 15px;
  font-family: 'Inter';
  font-weight: 500;
  margin-top: 4px;
  caret-color: #6534FF;
}

input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

.faMagnifyingGlass {
  color: #C3C3C6;
  height: 20px;
  margin: 3px 10px;
}

.faBars,
.faBars-active {
  color: #C3C3C6;
  margin-left: auto;
  margin-top: 3px;
  height: 20px;
  cursor: pointer;
}

.faBars-active {
  color: #6534FF;
}

.finder {
  margin: 16px 0 0 24px;  
  width: 76px;
  height: 28px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #050510;
}

.categories{
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  line-height: 60px;
  margin-top: 12px;
  margin-left: 16px;
  border-bottom: 1px solid rgb(211, 211, 211);
}

.inactive, .active {
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  min-width: 60px;
  margin-right: 30px;
  font-family: 'Inter';
  font-size: 15px;
  font-weight: 600;
  height: 40px;
  align-items: center;
  white-space:nowrap;
}

.inactive{
  color: #97979B;
}

.active{
  border-bottom: 4px solid #6534FF;
  color: #050510;
  transition: .2s;
}

.inactive:hover {
  color: #050510;
  transition: 0.7s;
}


.modal-content {
  font-family: 'Inter';
  display: flex;
  flex-direction: column;
  width: 373px;
  height: 192px;
  background:  #FFFFFF;
  border-radius: 20px;
}
.modal {
  height: 100vh;
  width: 100%;
  background-color: rgba(5, 5, 16, 0.16);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.5s;
}

.modal.active {
  opacity: 1;
}

.modal-header {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#close {
  width: 17px;
  height: 17px;
  color:#F7F7F8;
  background-color: #C3C3C6;
  border-radius: 12px;
  position: absolute;
  margin-left: 150px;
  margin-top: 24px;
}

#sort {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin-top: 24px;
  text-align: center;
  color: #050510;
  }

.radio-input {
  margin: 20px 0 0 18px;
  height: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

label {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 570;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  margin-left: 14px;
  color: #050510;
}

.check-radio {
  appearance: none;
  -webkit-appearance: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: 2px solid #6534FF;
}

.check-radio:checked {
  border: 6px solid #6534FF;
}

.link {
  color: #050510;
  text-decoration: none;
}

.link:hover 
{
   color:#050510; 
   text-decoration:none; 
   cursor:pointer;  
}

.two:hover {
  color: #6534FF;
  transition: 0.7s;
}

.person-item {
  display: flex;
  flex-direction: row;
  margin: 22px 16px;
  cursor: pointer;
}

img {
  width: 72px;
  height: 72px;
  border-radius: 50%;
}

.photo {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background: linear-gradient(90deg, #F3F3F6 0%, #FAFAFA 100%);
}

.info {
  display: flex;
  font-family: 'Inter';
  flex-direction: column;
  margin: 10px 16px;
}

.first-name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  font-family: 'Inter';
  display: flex;
  align-items: center;
  justify-content: baseline;
}

.user-tag {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  margin: 3px 4px;
  display: flex;
  color: #97979B;
}

.person-info {
  display: flex;
  flex-direction: row;
}

.person-position {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #55555C;
  margin: 3px 0;
}

.loading {
  display: flex;
  flex-direction: row;
  margin: 22px 16px;
}

.name {
  position: relative;
  margin: 6px 0;
  width: 144px;
  height: 16px;
  border-radius: 15px;
  background: linear-gradient(90deg, #F3F3F6 0%, #FAFAFA 100%);
}
.department {
  position: relative;
  width: 80px;
  height: 12px;
  border-radius: 15px;
  background: linear-gradient(90deg, #F3F3F6 0%, #FAFAFA 100%);
}

.error-page,
.empty-search-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 15vh;
}

#spaceship-image {
  width: 56px;
  height: 56px;
}

#error-text-1 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 22px;
  text-align: center;
  margin-bottom: 12px;
  color: #050510;
}

#error-text-2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #97979B;
  margin-bottom: 12px;
}

#error-text-3 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #6534FF;
  cursor: pointer;
}

.mainpage-birthday {
  position: absolute;
  width: 50px;
  height: 20px;
  right: 20px;
  margin-top: 9px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  text-align: right;
  color: #55555C;
}

.person-header {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 280px;
  background: #F7F7F8;
}

.person-profile {
  display: flex;
  flex-direction: row;
}

.person-profile-name {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #050510;
}

.person-body {
  margin: 27px 16px;
}

.person-profile-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #050510;
  margin: 0 14px;
}

.person-profile-tag {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  margin-left: 4px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #97979B;
}

.person-profile-position {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  margin-top: 12px;
  text-align: center;
  color: #55555C;
}

.person-image {
  width: 104px;
  height: 104px;
  margin-bottom: 24px;
  filter: drop-shadow(0px 1px 5px rgba(22, 30, 52, 0.039)) drop-shadow(0px 8px 12px rgba(22, 30, 52, 0.08));
  border-radius: 64px;
}

.person-birthday {
  display: flexbox;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
}

.person-profile-age {
  position: absolute;
  text-align: right;
  margin-top: -20px;
  margin-right: 20px;
  width: 61px;
  height: 20px;
  right: 4px;
  color: #97979B;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
}

#button-back {
  position: absolute;
  top: 28.76px;
  left: 32.87px;
}

#search-image {
  width: 56px;
  height: 56px;
}

.year-line {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 94.5%;
  height: 68px;
  background: #FFFFFF;
  margin-left: 40px;
  flex: none;
  order: 1;
}

.line {
  width: 42%;
  height: 0px;
  border: 1px solid #C3C3C6;
  flex-grow: 1;
}

.text-line {
  width: 160px;
  height: 20px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: #C3C3C6;
}